
//Цвета:
$color-blue: #1877f2;
$color-blue-hover: #1366d1;
$color-red: #ff4154;
$color-background-main: #fafbfc;
$color-background-header: #f1f1f1;
$color-grey-hover: #f4f5f8;
$color-font: #274266;
$color-font-light: #acb6c4;

//Адаптив:
$laptop-xxl: 1400px;
$laptop-xl: 1200px;
$laptop-lg: 960px;
$laptop-md: 720px;
$laptop-sm: 540px;

//Block
$border-radius: 12px;
$width-sidebar: 300px;

//IconUser
$size-icon: 40px;


//Отступы
$padding-page: 15px;
$padding-button: 8px 17px;



//Loading
$size-loader: 12px;